<div class="modal-header">
    <h4 class="modal-title pull-left">Forget Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="d-flex flex-row justify-content-center">
        
        <form [formGroup]='forgotForm' (ngSubmit)="forgotForm.valid && confirm()" autocomplete="off" class="col-lg" >
            <app-text-input [formControl]='forgotForm.controls["email"]' [label]='"Email"'></app-text-input>
            
            <div class="form-group text-center">
                <button [disabled]="!forgotForm.valid" class="btn btn-success mr-2" type="submit">Send Email</button>
            </div>
        </form>

        <!--
        <p>Form value: {{registerForm.value | json}}</p>
        <p>Form status: {{registerForm.status | json}}</p>
        -->
    </div>
</div>
