<div class="d-flex flex-wrap">
    <div class="container mt-3  bg-secondary">
        <form #form="ngForm" class="form-inline mb-1" (ngSubmit)="loadLines()" autocomplete="off">
            <div class="form-group">

                <label>Search by: </label>

                <div class="m-1" id="Select1">
                    <select class="form-select " id="Select1" name='searchBy' [(ngModel)]="lineParams.searchBy">
                        <option *ngFor="let searchOption of lineParams.searchListOptions">
                            {{searchOption}}
                        </option> 
                    </select>
                </div>

                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-outline-secondary btn-sm m-1" id="btnGroupAddon">
                        <i class="fa fa-search"></i>
                    </button>


                    <input type="text" [(ngModel)]="lineParams.searchText" placeholder={{lineParams.searchBy}} name="search" class="form-control m-1">
                </div>

            </div>
        </form>

        <div class="input-group ml-auto">

            <button class="btn btn-success ml-auto" (click)="openInsertModal();">
                <i class="fa fa-plus-square"  style="font-size:25px" ></i>
            </button>

        </div>
    </div>
</div>

<div class="container">
    <table class="table table-sm mt-4">
        <thead>
            <tr>
                <th scope="col" *ngFor="let index of headerArray; ">
                    <button class="btn btn-secondary" (click)="loadLines(); 
                        toggleSort[index] = !toggleSort[index]" name='orderBy' [btnRadio]="toggleSort[index] ?
                        lineParams.orderByListAsc[index] : 
                        lineParams.orderByListDesc[index]" [(ngModel)]="lineParams.orderBy">
                        {{lineParams.headerTableNames[index]}}
                    </button>
                </th>
                <th class="col-sm-1 offscreen"></th>
                <th class="col-sm-1 offscreen"></th>
            </tr>
        </thead>
        <tbody *ngFor="let line of lines; let i=index; let element">

            <tr class="table-light" [@deleteItem]="element == deletedElement ? 'collapsed' : 'expanded'">
                <td class="parent-tab">
                    <button class="btn btn-outline-secondary rounded-circle btn-sm" [ngClass]="{'active': showChildTable[i]}" (click)="showChildTable[i] = !showChildTable[i]">
          
                        <i style="font-size:20px" class="fa fa-angle-double-down" 
                            [ngStyle]="showChildTable[i] ? 
                            {'transform': 'rotate(0deg)'} :
                            {'transform': 'rotate(90deg)'}" >
                        </i>
                    </button>
                </td>
                <td class="parent-tab">{{line.id}}</td>
                <td class="parent-tab">{{line.symbol}}</td>
                <td class="parent-tab">{{line.length}} km</td>

                <td><button class="btn btn-secondary">
          <i class="fa fa-eye" style="font-size:25px"></i>
        </button></td>

                <td><button class="btn btn-danger" (click)="openDeleteModal(line.id);">
            <i class="fa fa-trash"  style="font-size:25px" aria-hidden="true"></i>
        </button></td>
            </tr>

            <tr>
                <td colspan="6">
                    <div>

                        <div class="zippy-body" [@expandCollapse]="showChildTable[i] ? 'expanded' : 'collapsed'">
                            <app-notification-list [line]="line"></app-notification-list>
                        </div>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="d-sm-flex flex-sm-row justify-content-center">

        <div class="pagination pagination-lg flex-wrap" *ngIf="pagination">
            <pagination class="flex-wrap" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage" (numPages)="smallnumPages = $event" (pageChanged)="pageChanged($event)">
            </pagination>

            <div class="alert alert-dismissible alert-light">
                selected page no: {{pagination.currentPage}} from {{pagination.totalPages}}
            </div>

            <div class="m-1" id="Select2">
                <select class="form-select ml-1" name='pageSize' (change)="loadLines()" [(ngModel)]="lineParams.pageSize">
                    <option value='5'>5</option>
                    <option value='10'>10</option> 
                </select>
            </div>
        </div>
    </div>
</div>