<div class="container mt-3">
  <form #form="ngForm" class="form-inline mb-3" 
  (ngSubmit)="loadLines()" autocomplete="off">
      <div class="form-group">
        <label>Search: </label>
        <input type="text" 
        class="form-control ml-1" 
        style="width: 200px;" name="lineSymbol" 
        [(ngModel)]="lineParams.lineSymbol" 
        placeholder="line symbol">
  
    <button class="btn btn-outline-secondary btn-sm ml-1"
     type="submit"><i class="fa fa-search"></i>
    </button>
    
    </div>
  </form>
</div>

<div class="container">
<table class="table table-sm mt-4">
    <thead>
      <tr>
        <th scope="col">
          <button  (click)="loadLines(); toggleSort[0] = !toggleSort[0]"
            name='orderBy'
            [btnRadio]="toggleSort[0] ?
            'notificationsAmountDesc' : 
            'notificationsAmountAsc'"
            [(ngModel)]="lineParams.orderBy">
            Not. amount
          </button>  
        </th>
        <th scope="col">
          <button  (click)="loadLines(); toggleSort[1] = !toggleSort[1]"
            name='orderBy'
            [btnRadio]="toggleSort[1] ?
            'idDesc' : 
            'idAsc'"
            [(ngModel)]="lineParams.orderBy">
            Id
          </button>
        </th>
        <th scope="col">
          <button  (click)="loadLines(); toggleSort[2] = !toggleSort[2]"
            name='orderBy'
            [btnRadio]="toggleSort[2] ?
            'symbolDesc' : 
            'symbolAsc'"
            [(ngModel)]="lineParams.orderBy">
            Symbol
          </button>
        </th>
        <th scope="col">
          <button  (click)="loadLines(); toggleSort[3] = !toggleSort[3]"
            name='orderBy'
            [btnRadio]="toggleSort[3] ?
            'lengthDesc' : 
            'lengthAsc'"
            [(ngModel)]="lineParams.orderBy">
            Length
          </button>
        </th>
        <th class="col-sm-1"></th>
        <th class="col-sm-1"></th>
      </tr>
    </thead>
    <tbody *ngFor="let line of lines; let i=index; let element">
     
      <tr class="table-light"  
          [@deleteItem]="element == deletedElement ? 'collapsed' : 'expanded'">
        <td> 
          <button class="btn btn-outline-secondary rounded-circle btn-sm" 
          [ngClass]="{'active': showChildTable[i]}" 
          (click)="showChildTable[i] = !showChildTable[i]" >
          
          <i style="font-size:20px" class="fa fa-angle-double-down" 
          [ngStyle]="showChildTable[i] ? 
          {'transform': 'rotate(0deg)'} :
          {'transform': 'rotate(90deg)'}" ></i>
          
          </button>
        </td>
        <td>{{line.id}}</td>
        <td>{{line.symbol}}</td>
        <td>{{line.length}} km</td>
        
        <td><button class="btn btn-secondary">
          <i class="fa fa-eye" style="font-size:25px"></i>
        </button></td>
        
        <td><button class="btn btn-danger" (click)="deleteFromCart(line.id)">
            <i class="fa fa-trash"  style="font-size:25px" aria-hidden="true"></i>
        </button></td>
      </tr>
      
      <tr>
        <td colspan="5">
          <div  class="zippy-body" [@expandCollapse]="showChildTable[i] ? 'expanded' : 'collapsed'" >     
            <app-notification-list [line]="line"></app-notification-list>
          </div>
        </td>
      </tr>
      
    </tbody>
 </table>
</div>

<div class="d-flex justify-content-center pagination pagination-lg" *ngIf="pagination">
  <pagination 
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  [(ngModel)]="pagination.currentPage" 
  (numPages)="smallnumPages = $event"
  (pageChanged)="pageChanged($event)"
  >

</pagination> 
  <!--

    <pre class="card card-block card-header mb-3">
    The selected page no: {{pagination.currentPage}}/{{smallnumPages}}
  </pre>
  -->
</div>
