<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <h4 class="modal-title pull-center">Reset Password</h4>
    <div class="d-flex flex-row justify-content-center">
        
        
        <form [formGroup]='resetForm' (ngSubmit)="resetForm.valid && confirm()" autocomplete="off" class="col-6" >
            
            <app-text-input [formControl]='resetForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
            <app-text-input [formControl]='resetForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>
    
            <div class="form-group text-center">
                <button [disabled]="!resetForm.valid" class="btn btn-success mr-2" type="submit">Save changes</button>
            </div>
        </form>

        <!--
        <p>Form value: {{registerForm.value | json}}</p>
        <p>Form status: {{registerForm.status | json}}</p>
        -->
    </div>
</div>
