<table class="table table-hover" *ngIf="line.notifications.length > 0">
    <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Created</th>
        <th scope="col">Description</th>
        <th scope="col-sm-1"></th>
      </tr>
    </thead>
    <tbody *ngFor="let notification of line.notifications; let i=index">
      <tr class="table-light">
        <td>{{i+1}}</td>
        <td>{{notification.created | date}}</td>
        <td>{{notification.description}}</td>
        <td><button class="btn btn-secondary"><i class="fa fa-eye" style="font-size:25px"></i>
        </button></td>
    </tbody>
</table>
