<div class="form-group position-relative">

    <div class="form-floating mb-3">
        <input type="number" [class.is-invalid]="ngControl.invalid 
            && ngControl.touched"
            step="0.01" min="0" max="10"
            class="form-control mt-4 text-center" 
            [formControl]="ngControl.control"
            placeholder={{label}}>
            
        <label for="floatingInput">{{label}}
        </label>

        <div *ngIf="ngControl.control.errors?.required"
            class="invalid-tooltip">
            {{label}} is required.   
        </div>

    </div>
</div>

