<div *ngIf="showForm" class="d-flex flex-row justify-content-center">
    <!--<div *ngIf="!collapse" class="d-flex flex-row justify-content-center"></div>-->
    <!--<div class="d-flex flex-row justify-content-center">-->    
    <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" class="col-sm-5" >
        <h2 class="text-center text-info">Registration</h2>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control text-center"
             name="username" 
             [(ngModel)]="model.username"
             placeholder="Username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control text-center"
             name="password" 
             [(ngModel)]="model.password"
             placeholder="Password">
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control text-center"
             name="company" 
             [(ngModel)]="model.company"
             placeholder="Company">
        </div>

        
        <div class="form-group">
            <input type="tel" class="form-control text-center"
             name="phonenumber" 
             [(ngModel)]="model.phonenumber"
             placeholder="Phone">
        </div>

        <div class="form-group">
            <input type="email" class="form-control text-center"
             name="email" 
             [(ngModel)]="model.email"
             placeholder="Email">
        </div>

        <div class="form-group">
            <input type="text" class="form-control text-center"
             name="department" 
             [(ngModel)]="model.department"
             placeholder="Department">
        </div>

        <div class="form-group text-center">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
            <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
        </div>
    </form>
</div>
<!--</div>--> 
