
<button class="button positionedbutton" (click)="toggleMenu()" >
    <span><i  class="fa fa-angle-double-left" 
    [ngStyle]="menuState === 'out' ? 
    {'transform': 'rotate(0deg)'} :
    {'transform': 'rotate(180deg)'}"></i></span>
</button>   

<ul>

  <li>
    <div class="dropdown"  *ngIf="(accountService.currentUser$ | async) as user" dropdown>

      <a  class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a href="#" class="dropdown-item" style="color: darkslategrey;">User Profile</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item" (click)="logout()" style="color: darkslategrey;">Logout</a>
      </div>
    
    </div>
  </li>


    <ng-container *ngIf="accountService.currentUser$ | async">
        <li>
          <a  routerLink='/lines' routerLinkActive='active'>Lines</a>
        </li>
        <li>
          <a   href="#" routerLinkActive='active'>Notifications</a>
        </li>
        <li>
          <a  href="#" routerLinkActive='active'>Photos</a>
        </li>
    </ng-container>

    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
      <li>
        <a style="cursor: pointer" (click)="openLoginModal();">Login</a>
      </li>
      <li>
        <a style="cursor: pointer" (click)="openRegisterModal();">Register</a>
      </li>
    </ng-container>

    <li>
      <a routerLink='/errors' routerLinkActive='active'>Errors</a>
    </li>

    
</ul>