<div *ngIf="line" class="container">

  <div class="d-flex m-3">
  <button class="btn btn-outline-primary "routerLink="/lines">Return</button>

  <button class="btn btn-success ml-auto" (click)="openInsertNotificationModal();">
    <i class="fa fa-plus-square"  style="font-size:25px" ></i>
  </button>

</div>

<div class="row">

<div class="col-md-4">

  <div class="card bg-secondary mb-3">
    <div class="card-header">Line Details</div>
    <div class="card-body">
      <h4 class="card-title">Line Id: {{line.id}}</h4>
      <h4 class="card-title">Line symbol: {{line.symbol}}</h4>
      <h4 class="card-title">Line length: {{line.length}} km</h4>
      <h4 class="card-title">Line description:</h4> <p class="card-text">{{line.description}}</p>
    </div>
  </div>

  <div class="m-3">
    <button class="btn btn-info col-12" (click)="openEditModal(line.id);">
      <i class="fa fa-edit"  style="font-size:25px" aria-hidden="true"></i>
    </button>
  </div>
</div>



<div class="col-md-8">
    <tabset>
      <tab heading="Notifications" id="tab1">
        <app-notification-list [line]="line">
        </app-notification-list>
      </tab>
      <tab heading="Photos">

        
        <div class="container">
          <!--<div class="row row-cols-2 mb-3" *ngFor="let notification of line.notifications">
            <div class="col" *ngFor="let photo of notification.photos">-->
            <div class="row">
            <div class="card col-5 m-3" *ngFor="let photo of paginatedPhotos">
                <h4 class="card-title"> Notification no: {{photo.notificationId}}</h4>
                <!--<h5 class="card-title">{{notification.created | date:'short'}}</h5>-->
                  <div class="card-body card-img-wrapper">
                    <img src="{{photo.url}}" alt="{{line.Id}}" class="card-img-top">
                  </div>
              </div>
            
            </div>
          </div>
      
        <div class="container">
            <div class="col" *ngFor="let photo of photos">
              
              <div class="card bg-secondary m-2" > 
      
                  <div class="card-body card-img-wrapper">
                    <img src="{{photo.url}}" alt="{{line.Id}}" class="card-img-top">
                  </div>
              </div>
            
            </div>
          </div>
        
      
      <div class="d-sm-flex flex-sm-row justify-content-center">

        <div class="pagination pagination-lg flex-wrap" *ngIf="pagination">
            <pagination class="flex-wrap" 
              [totalItems]="pagination.totalItems" 
              [itemsPerPage]="pagination.itemsPerPage" 
              [(ngModel)]="pagination.currentPage" 
              (numPages)="smallnumPages = $event" 
              (pageChanged)="pageChanged($event)">
            </pagination>

            <div class="alert alert-dismissible alert-light">
                selected page no: {{pagination.currentPage}} from {{pagination.totalPages}}
            </div>

            <div class="m-1" id="Select2">
                <select class="form-select ml-1" name='pageSize' (change)="loadLine()" [(ngModel)]="photoParams.pageSize">
                    <option value='4'>4</option>
                    <option value='8'>8</option> 
                </select>
            </div>
        </div>
      </div>
      
      
      </tab>
        
      <tab heading="Basic Title 2">Basic content 2</tab>

    </tabset>
  </div>

</div>

</div>
