<div *ngIf="line" class="container">

  <div class="d-flex m-3">
  <button class="btn btn-outline-primary "routerLink="/lines">Return</button>

  <button class="btn btn-success ml-auto" (click)="openInsertNotificationModal();">
    <i class="fa fa-plus-square"  style="font-size:25px" ></i>
  </button>

</div>

<div class="row">

<div class="col-md-4">

  <div class="card bg-secondary mb-3">
    <div class="card-header">Line Details</div>
    <div class="card-body">
      <h4 class="card-title">Line Id: {{line.id}}</h4>
      <h4 class="card-title">Line symbol: {{line.symbol}}</h4>
      <h4 class="card-title">Line length: {{line.length}} km</h4>
      <h4 class="card-title">Line description:</h4> <p class="card-text">{{line.description}}</p>
    </div>
  </div>

  <div class="m-3">
    <button class="btn btn-info col-12" (click)="openEditModal(line.id);">
      <i class="fa fa-edit"  style="font-size:25px" aria-hidden="true"></i>
    </button>
  </div>
</div>



<div class="col-md-8">
    <tabset>
      <tab heading="Notifications" id="tab1">
        <app-notification-list [line]="line">
        </app-notification-list>
      </tab>
      <tab heading="Basic Title 1">Basic content 1</tab>
      <tab heading="Basic Title 2">Basic content 2</tab>
    </tabset>
  </div>

</div>

</div>
